@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bemvindo</title>
    <link rel="stylesheet" href="~/css/loginStyle.css">
</head>
<body>

    <div id="container1">
        <img src="~/img/logoUSTM.png" alt="Imagem do Logo da USTM">

        <h1>BEM-VINDO</h1>

        <p>
            Aqui você encontra as melhores bibliográfias em formato digital, acesse já!
        </p>
        <a class="Acessarbtn"  id="login" asp-area="Identity" asp-page="/Account/Login">Acessar</a>
    </div>

</body>
</html>